@model AcademicSchedule.Models.EleniDM

@{
    ViewData["Title"] = "Eleni's Example";
}

<div class="container-eleni">
    <div class="row">
        <h1>Eleni first example</h1>
        <div>
            <p>
                Εμφάνιση ενός πίνακα μαθημάτων
            </p>
        </div>
    </div>

    @foreach (var oRow in Model.Eleni)
    {
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <p class="@oRow.CSSClassE">
                    @oRow.Code
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p "@oRow.CSSClassE">
                    @oRow.Lesson

                </p>
            </div>

        </div>
    }
</div>
