@model AcademicSchedule.Models.CExampleDM
@{
    ViewData["Title"] = "Example Message View";
}
<div class="row">
    <h1>Υπάρχει ήδη αντίγραφο της εγγραφής</h1>
    <div>
        <p>
            Παράδεγιμα: Αυτό το μήνυμα εμφανίζεται μετά την εκτέλεση μιας διαδικασίας.
        </p>
    </div>
</div>
<div class="row">
</div>

